/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
 font-family: 'Calibri';
}
a.rvts7, span.rvts7
{
 color: #000080;
 text-decoration: underline;
}
span.rvts8
{
 color: #a0a0a0;
}
span.rvts9
{
 font-size: 15pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-weight: bold;
 color: #696969;
}
span.rvts10
{
 font-weight: bold;
 color: #a0a0a0;
}
span.rvts11
{
 font-style: italic;
 color: #a0a0a0;
}
span.rvts12
{
 font-size: 20pt;
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 font-weight: bold;
 color: #000000;
}
a.rvts13, span.rvts13
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #ff0000;
 text-decoration: underline;
}
span.rvts14
{
 font-size: 9pt;
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #000000;
}
span.rvts15
{
 font-size: 12pt;
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 font-weight: bold;
}
span.rvts16
{
 font-size: 16pt;
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #4f81bd;
}
span.rvts17
{
 font-size: 18pt;
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #4f81bd;
}
span.rvts18 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts19, span.rvts19 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
a.rvts20, span.rvts20
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #ff0000;
 text-decoration: underline;
}
span.rvts21
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
}
a.rvts22, span.rvts22
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts23, span.rvts23
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #ff0000;
 text-decoration: underline;
}
a.rvts24, span.rvts24
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts25, span.rvts25
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #ff0000;
 text-decoration: underline;
}
a.rvts26, span.rvts26
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts26:hover { color: #0000ff; }
a.rvts27, span.rvts27
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #ff0000;
 text-decoration: underline;
}
a.rvts28, span.rvts28
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts28:hover { color: #0000ff; }
span.rvts29
{
 font-size: 16pt;
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts30
{
 font-size: 11pt;
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
}
a.rvts31, span.rvts31
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #ff0000;
 text-decoration: underline;
}
span.rvts32
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #ff0000;
}
a.rvts33, span.rvts33
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #ff0000;
 text-decoration: underline;
}
a.rvts34, span.rvts34
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #ff0000;
 text-decoration: underline;
}
a.rvts35, span.rvts35
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #ff0000;
 text-decoration: underline;
}
span.rvts36
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 font-weight: bold;
}
a.rvts37, span.rvts37
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #ff0000;
 text-decoration: underline;
}
a.rvts38, span.rvts38
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts39, span.rvts39
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #ff0000;
 text-decoration: underline;
}
a.rvts40, span.rvts40
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #ff0000;
 text-decoration: underline;
}
a.rvts41, span.rvts41
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #ff0000;
 text-decoration: underline;
}
a.rvts42, span.rvts42
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #ff0000;
 text-decoration: underline;
}
span.rvts43 /* Font Style */
{
}
a.rvts44, span.rvts44
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts45
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 font-weight: bold;
 color: #ff0000;
}
a.rvts46, span.rvts46
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts47
{
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts48
{
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #0000ff;
}
span.rvts49
{
 font-family: 'Calibri';
 color: #ff0000;
}
a.rvts50, span.rvts50
{
 font-size: 9pt;
 font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
 color: #ff0000;
 text-decoration: underline;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
 page-break-after: avoid;
}
.rvps3
{
 text-align: justify;
}
.rvps4 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps5
{
 text-align: justify;
 text-indent: -9px;
 margin: 0px 0px 0px 12px;
}
.rvps6
{
 text-align: center;
 margin: 0px 0px 0px 12px;
}
.rvps7
{
 text-align: center;
 text-indent: -9px;
 margin: 0px 0px 0px 12px;
}
.rvps8 /* Paragraph Style */
{
}
.rvps9
{
 text-align: justify;
 text-indent: -24px;
 margin: 0px 0px 0px 48px;
}
.rvps10
{
 text-align: center;
 margin: 0px 0px 0px 48px;
}
.rvps11
{
 text-align: justify;
 margin: 0px 0px 0px 2px;
}
.rvps12
{
 text-align: center;
 margin: 0px 0px 0px 2px;
}
.rvps13
{
 text-align: center;
 page-break-after: avoid;
 margin: 8px 0px 8px 0px;
}
